@font-face {
  font-family: 'mayhem';
  src: url('../assets/fonts/mayhem/MAYHEM-Regular.otf')
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration:  none;
  color: #f2ecd9;
}

ul, li {
  list-style-type: none;
}

html { 
  font-size: calc(1em + 1vw);
}

body {
  font-family: 'mayhem', sans-serif;
  background-color:#383E3D;
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  color: #f2ecd9;
}

section {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1em;
}

/* navbar */

header {
  height: 15vh;
  width: 100vw;
  padding: 30px 15px;
}

.navbar {
   display: flex;
   font-size: 0.8rem;
   width: 100%;
   justify-content: flex-end;
}

.navbar  li {
    margin: 0 1.5vw;
    transition: all 0.2s ease;
}

.navbar li:hover {
  transform: scale(1.08)
}

/* botao doar */

.donate-btn {
  border: 2px solid #f2ecd9;
  border-radius: 20px;
  padding: 0.3rem 1.2rem;
  transition: all 0.2s ease;
}

.donate-btn:hover {
  color: #2b3131;
  background-color: #f2ecd9;
  transform: scale(1.08)
}

/* SESSAO SOBRE */

#about {
  display: flex;
  flex-direction: column;
}

#about a {
  text-decoration: underline;
}

#about > div {
  margin-bottom: 50px;
}

#about h3 {
  font-weight: normal;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

#about p {
  font-family: 'Lato', sans-serif;
  font-size: 0.58rem;
}

@media screen and (max-width: 768px) {
  #about h3 {
    font-size: 1.3rem;
  }

  #about p {
    font-size: 0.8rem;
  }
}