
/* soft reset do css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: I_pixel_u;
  src: url(../assets/fonts/I-pixel-u.ttf);
}

@font-face {
  font-family: retro_gaming;
  src: url(../assets/fonts/Retro-Gaming.ttf);
}


#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: linear-gradient(180deg, #121b51, #191650);
}
 
.retro {
  font-family: retro_gaming;
}

#home h4 {
  font-size: 16px;
  color: #4758b8;
  margin-bottom: 30px;
}

#logo {
  margin: 0 25px;
}

/* timer */

#timer-section {
  margin-top: 100px;
}

#timer {
  border: solid 1px #B6B9F2;
  display: inline-flex;
  padding: 20px;
  color: #B6B9F2;
  font-size: 25px;
  font-family: retro_gaming;
}

.time-label {
  color: #616a9d;
}

@media (max-width: 700px) {
  #home h4 {
      margin-bottom: 0;
  }

  #timer {
      padding: 15px;
      font-size: 20px;
  }

  #timer-section {
      margin-top: 60px;
  }

}