@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

*{
  padding: 0;
}

ul{
  list-style: none;
}


body {
  font-family: 'Roboto', sans-serif;
  word-spacing: 1px;
  font-size: 1.2em;
  margin: 0 auto;
  overflow: auto
}

/* INTRO */

.introducao {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo {
  max-height: 300px;
  max-width: 300px;
}

.nome {
  height: 500px;
  max-width: 900px;
}

.subtitulo {
  font-size: 2.5rem;
  color: #2c677b;
  letter-spacing: 0.2rem;
  display: inherit;
}

.typewrite {
  padding-left: 1rem; /* Adiciona um espaco antes da frase estatica */
  color: #49c3ed;
  margin: 0;
}

@media only screen and (max-width: 728px) {
  .logo-area {
    flex-direction: column;
  }
  .nome {
    margin-top: 50px;
    width: 300px;
    height: 300px;
  }
  .logo {
    width: 250px;
    position: absolute;
    align-self: center;
    top: 0;
  }
  .subtitulo {
    flex-wrap: wrap;
    height: 20px;
    justify-content: center;
    font-size: 1.2rem;
  }
}



/* SESSOES */

section {
  min-height: 70vh;
  padding: 1% 5% ;
}

section header {
  text-align: center;
  margin-bottom: 5%;
}

section h2 {
  color: #263a57;
  letter-spacing: 2px;
  font-size: 2.5em;
  font-weight: normal;
}

section .sessao-subtitulo {
  color: #263a57;
  font-size: 1.3rem;
  text-align: center;
}

section:nth-child(even) {
  background-color: #263a57;
}

section:nth-child(even) h2 {
  color: #f5f5f5;
}

section:nth-child(even) .sessao-subtitulo {
  color: #d3e5ff;
}

/* VISAO */

.visao ul {
  padding: 0% 10%;
  color: #f0f0f0;
  font-size: 1.3em;
  margin-top: 5%;
}

.visao li {
  background: url("../img/hexagono.svg") left/24px no-repeat;
  padding-left: 40px;
}

.visao li:nth-child(even) {
  text-align: right;
  background-position: right;
  padding-right: 40px;
}

.visao li + li {
  margin-top: 5%;
}

/* SOBRE NOS */

.sobre .topicos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
}

@media screen and (max-width: 750px){
   .sobre .topicos{
     flex-direction: column;
   }
}

.sobre .topico {  
  flex: 0 1 30%;
  padding: 0 10px;
}

.sobre .topico h3 { 
  color: #387ca5;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.sobre .topico p { 
  color: #80858a;
  letter-spacing: 0.1rem;
  text-align: center;
  line-height: 1.8;
}

/* PROJETOS */

.projetos {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  padding: 0px;
  justify-content: center;
}

.projeto-card {  
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: white;
  text-align: center;
  justify-content: space-between;
  margin: 10px 10px 0px 0px;
  padding: 20px 20px 10px 20px;
  color: #80858a;
  border-radius: 0.25rem;
  transition: transform 0.2s ease;
}

.projeto-card img {
  max-width: 250px;
}

.projeto-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  transform: scale(1.02);
}

@media screen and (min-width: 750px) {
  .projeto-card {  
    min-width: calc(100% / 4);
    max-width: calc(100% / 4);
  }
}

@media screen and (min-width: 1500px) {
  .projeto-card {  
    min-width: calc(100% / 6);
    max-width: calc(100% / 6);
  }
}

@media screen and (max-width: 750px) {
  .projeto-card {
    height: 400px;
  }
}

/* EQUIPE */

.equipe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.membro {
  flex: 0 0 160px;
  transition: all 0.3s;
}

.membro:hover {
  transform: scale(1.2);
}

.membro-imagem {
  align-self: center;
  object-fit: cover;
  max-width: 150px;
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
}

/* COMUNIDADE */

.comunidade-lista {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-left: 0px;
}

.comunidade-item {
  display: flex;
  flex-flow: row wrap;
  background-color: white;
  text-decoration: none;
  border-radius: 0.25rem;
  transition: transform 0.2s ease;
}

.comunidade-item i {
  font-size: 8vw;
  color: white;
  background-color: #1e6995;
  padding: 0.15em;
  width: 1.4em;
  text-align: center;
}

.comunidade-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  transform: scale(1.02);
}

.comunidade-conteudo {
  display: flex;
  flex-flow: column wrap;
  color: #1e6995;
  font-size: 1.3vw;
  padding: 1em 0.5em 0.5em 1em;
  width: 25vw;
}

.comunidade-conteudo h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px;
}

.comunidade-conteudo p {
  margin-left: 0.5em;
}

@media screen and (max-width: 1024px) {
  .comunidade-item i, .comunidade-conteudo {
    width: 100%;
  }

  .comunidade-item i {
    font-size: 7em;
  }

 .comunidade-conteudo{
   font-size: 1em;
 } 

  .comunidade-conteudo h3 {
    text-align: center;
  }

  .comunidade-lista li + li {
    margin-top: 5%;
  }
  
  .comunidade-lista li {
    max-width: 30em;
  }
}